In [1]:
import pandas as pd

In [2]:
from sqlalchemy import create_engine

In [3]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [4]:
engine.connect()

In [5]:
query = """
SELECT *
FROM pg_catalog.pg_tables;
"""

pd.read_sql(query, con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,yellow_taxi_trips,root,None,True,False,False,False
1,public,green_taxi_trips,root,None,True,False,False,False
2,pg_catalog,pg_statistic,root,None,True,False,False,False
3,pg_catalog,pg_type,root,None,True,False,False,False
4,pg_catalog,pg_foreign_table,root,None,True,False,False,False
...,...,...,...,...,...,...,...,...
63,pg_catalog,pg_subscription_rel,root,None,True,False,False,False
64,information_schema,sql_implementation_info,root,None,False,False,False,False
65,information_schema,sql_parts,root,None,False,False,False,False
66,information_schema,sql_sizing,root,None,False,False,False,False
67,information_schema,sql_features,root,None,False,False,False,False

In [8]:
df = pd.read_csv("raw_data/taxi+_zone_lookup.csv", nrows=1000)

In [9]:
print(pd.io.sql.get_schema(df, name="taxi_zone_lookup", con=engine))

CREATE TABLE taxi_zone_lookup (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [10]:
df.head(n=0).to_sql(name = "taxi_zone_lookup", con=engine, if_exists="replace")

0

In [11]:
df.to_sql(name="taxi_zone_lookup", con=engine, if_exists="append")

265

In [12]:
query = """
SELECT COUNT(*)
FROM taxi_zone_lookup;
"""

pd.read_sql(query, con=engine)

   count
0    265

In [13]:
engine.dispose()